/* Import google font */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lora", sans-serif, Arial;
    /* Declare vars for colors */
    --primary-font: #ffffff;
    --secondary-font: #e5c62b;
    --backup-color: #131111;
}

/* Styling the hero section */
.hero {
    background-image: url(../assets/img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo {
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    margin-bottom: 2vh;
} 

.title {
    color: var(--secondary-font);
    font-size: 10vw;
    font-weight: 500;
    margin-bottom: 0.5vh;
}

.subtitle {
    color: var(--primary-font);
    font-size: 3vw;
    font-weight: 200;
    margin-bottom: 2vh;
}

.hero i {   
    color: var(--secondary-font);
    font-size: 8vw;
} 

/* Styling the intro section */
.intro {
    background-image: url(../assets/img/intro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 75vh;
    justify-content: center;
    align-items: flex-start;
    padding-top: 7vh;
}

.section-heading-intro {
    color: var(--secondary-font);
    font-size: 5.5vw;
    font-weight: 500;
    margin: 0 5vw;
    flex: 1;
}

.intro-section {
    margin: 0 5vw;
    flex: 1;
}

.intro-desc {
    color: var(--primary-font);
    margin-bottom: 2vh;
    font-size: 1.4vw;
    font-weight: 300;
}

.cta-btn-1 {
    color: var(--backup-color);
    background: var(--secondary-font);
    font-size: 1.5vw;
    font-weight: 600;
    padding: 1vh;
    border: none;
    width: 12vw;
    height: 7vh;
    transition: color 0.3s ease;
}

.cta-btn-1:hover {
    color: var(--primary-font);
    cursor: pointer;
}

/* Styling the activities section */
.activities {
    background-image: url(../assets/img/activities.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 125vh;
    justify-content: center;
    align-items: center;
}

.section-heading-act {
    color: var(--secondary-font);
    font-size: 3.5vw;
    font-weight: 500;
    margin: 0 10vw;
    text-align: center;
}

.wrappper {
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;
    width: 90%;
}

.container {
    display: block;
    position: relative;
    height: auto;
    width: 25vw;
    max-width: 25vw;
    margin-right: 1vw;
}

.container img {
    width: 52vh;
    height: 65vh;
}

.container-title {
    color: var(--primary-font);
    font-size: 2vw;
    font-weight: 500;
    position: absolute;
    top: 70%;
    left: 5%;
}

.container i {
    color: var(--secondary-font);
    font-size: 5vw;
    position: absolute;
    top: 75%;
    left: -1%;
}

.cta-btn-2 {
    color: var(--primary-font);
    background: var(--secondary-font);
    font-size: 1.5vw;
    font-weight: 600;
    padding: 1vh;
    border: none;
    width: 12vw;
    height: 7vh;
    margin-top: 3vh;
    transition: color 0.3s ease;
}

.cta-btn-2:hover {
    color: var(--backup-color);
    cursor: pointer;
}

/* Styling the recommendations section */
.recommendations {
    background-image: url(../assets/img/recommend.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10vh;
}

.section-heading-rec {
    color: var(--secondary-font);
    font-size: 4.5vw;
    font-weight: 500;
    margin: 0 5vw;
    flex: 1;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 0 5vw;
    flex: 1;
}

.content p {
    color: var(--primary-font);
    margin-bottom: 2vh;
    font-size: 1.3vw;
    font-weight: 300;
}

.content h3 {
    color: var(--primary-font);
    margin-bottom: 2vh;
    font-size: 1.5vw;
    font-weight: 600;
}

/* Styling the stats section */
.stats {
    background-image: url(../assets/img/stats.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 75vh;
    justify-content: space-evenly;
    align-items: center;
}

.wrapper-stats {
    background: var(--backup-color);
    height: 25vh;
    width: 25vh;
    border-radius: 50%;
    position: relative;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.wrapper-stats h3 {
    color: var(--secondary-font);
    position: absolute;
    top: 20%;
    font-size: 4vw;
    font-weight: 500;
}

.wrapper-stats p {
    color: var(--primary-font);
    position: absolute;
    top: 60%;
    font-weight: 300;
    font-size: 1vw;
}

/* Styling the author info section */
.author-info {
    background-image: url(../assets/img/info.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 85vh;
    justify-content: center;
    align-items: center;
}

.author-info img {
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
}

.author-info p {
    color: var(--primary-font);
    font-weight: 400;
    font-size: 1.1vw;
    margin: 2vh 30vw;
    text-align: center;
}

.author-info h3 {
    color: var(--primary-font);
    font-weight: 400;
    font-size: 1.3vw;
}

.author-info i {
    color: var(--secondary-font);
    font-size: 6vw;
}

/* Styling the gallery section */
.gallery {
    height: 60vh;
    display: flex;
}

.gallery img {
    height: 100%;
    width: 25%;
}

/* Styling the footer */
.footer {
    background-image: url(../assets/img/footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 75vh;
    justify-content: center;
    align-items: flex-start;
    padding-top: 8vh;
}

.left {
    flex: 1;
    margin-left: 5vw;
}

.left h2 {
    color: var(--secondary-font);
    margin-bottom: 2vh;
    font-size: 5vw;
    font-weight: 500;
}

.left ul {
    color: var(--primary-font);
    font-size: 1.2vw;
    list-style-type: none;
    margin-bottom: 2vh;
}

.left ul li {
    margin-bottom: 1vh;
}

.icon-wrap {
    display: flex;
    max-width: 20vw;
    justify-content: space-between;
}

.icon-wrap a {
    color: var(--secondary-font);
    transition: color 0.3s ease;
}

.icon-wrap a:hover {
    color: var(--primary-font);
}

.icon-wrap i {
    font-size: 2vw;
}

.right {
    flex: 1;
    margin-right: 5vw;
}

.right form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right form input {
    margin-bottom: 2vh;
    color: var(--primary-font);
    height: 7vh;
    font-size: 1.4vw;
    padding: 1vh;
    background: none;
    border: 3px solid var(--primary-font);
    border-radius: 0.3vw;
}

.right form input::placeholder {
    color: var(--primary-font);
}

.right form input:focus {
    outline: none;
}

.right form textarea {
    margin-bottom: 2vh;
    height: 20vh;
    color: var(--primary-font);
    font-size: 1.4vw;
    padding: 1vh;
    background: none;
    border: 3px solid var(--primary-font);
    border-radius: 0.5vw;
}

.right form textarea::placeholder {
    color: var(--primary-font);
}

.right form textarea:focus {
    outline: none;
}

.right form button {
    height: 7vh;
    width: 10vw;
    color: var(--backup-color);
    background: var(--secondary-font);
    font-weight: 600;
    font-size: 1.4vw;
    padding: 1vh;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.right form button:hover {
    color: var(--primary-font);
}